/* ============ ACHIEVEMENTS========== */
/* ===========<section class="about_achievments"> */
.about_achievements{
    margin-top: 3rem;
}
/* ============= <div class="container about_achievement-container"> */
.about_achievement-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}
/* ================<div class="about_achievements-right"> */
.about_achievements-right > p{
    margin: 1rem 0 2rem;
}
/* =============<div class="achievements_cards"> */
.achievements_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
/* =======<article class="achievement_card"> */
.achievement_card{
    background: var(--color-bg2);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}
/* ============= achievements_cards:hover==========*/
.achievement_card:hover{
background: var(--color-success);
box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.8) inset;
cursor: pointer;
}
/* ============<span class="achievement_icon"> */
.achievement_icon{
    background: var(--color-danger);
    padding: 0.6rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 2rem;
}
.achievement_card:nth-child(2) .achievement_icon{
background: var(--color-success);
}
.achievement_card:nth-child(3) .achievement_icon{
    background: var(--color-primary);
    }
    .achievement_card p{
        margin-top: 1rem;
    }
    /* =====================<sction class="team">============ */
    .team{
        background: var(--color-bg);
        box-shadow: inset 0 0 3rem rgb(0, 0, 0, 0.4);
    }
    .team h2{
        text-align: center;
        margin-bottom: 2rem;
    }
    /* ===============<div class="container team_container"> */
    .team_container{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 0.4rem;
    }
    /* ================<article class="team_member">========= */
    .team_member{
      
        background: var(--color-bg2);
        padding: 2rem;
        border: 4px solid transparent;
        border-radius: 2rem;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden;
    }
    .team_member:hover {
        background: transparent;
        cursor: pointer;
        border-color: var(--color-primary);
        transition: var(--transition);
        
    }
            
            /* ===<div class="team_member-image">=================== */
.team_member-image img{
    filter: saturate(0);
}
.team_member:hover img{
    filter: saturate(1);
}
/* =============== <div class="team_member-info">======== */
.team_member-info *{
text-align: center;
margin-top: 1rem;

}
.team_member-info p{
    color: var(--color-bg1);
}
/* ===================<div class="team_member-socials">============= */
 .team_member-socials  {
display: flex;
    flex-direction: column;
   position: absolute;
    top: 50%; 
  right: -100%;
    transform:translateY(-50%);    
    background: rgb(122, 206, 11);
    border-radius: 1rem 0 0 1rem;
    padding: 0.7rem;
    box-shadow:  -1rem 0  2rem rgba(0, 0, 0, 0.4);
    transition: var(--transition);
}
.team_member:hover .team_member-socials{
    right: 0;
}
.team_member-socials a{
    padding: 0.5rem;
}
/* =============MEDIA QURIES TABLET============= */
@media screen and (max-width:1024px) {
    .about_achievements{
        margin-top: 2rem;
    }
    .about_achievement-container{
      
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .about_achievements-left{
        width: 80%;
        margin: 0 auto;
    }
    .team_container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    .team_member{
        padding: 1rem;
    }
}
/* ==============MEDIAQURIE PHONE */
@media screen and (max-width: 792px) {
    .about_achievements-left{
        width: 60%;       
    }
    .team_container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .team_member{
        padding: 0;
    }
    .team_member-info p{
        margin-bottom: 1rem;
}
.team_member-socials{
    padding: 0;
}

}